extends layouts/default.pug

//- Title
block title 
    title Danh sách thú cưng

block main
    //- Breadcrumb
    div(class="breadcrumb")
        div(class="container")
            nav(class="breadcrumb__wrap")
                ul 
                    li
                        a(href="#") Trang chủ
                    li 
                        a(href="#") Chó
                    li 
                        a(href="#") Mèo
    //- End Breadcrumb

    //- Section 3
    include partials/section-3.pug
    //- End Section 3
