extends layouts/default.pug

//- Mixin
include mixins/product-item.pug

//- Title
block title 
    title Chi tiết sản phẩm

//- Main
block main 
    //- Section 6
    section(class="section-6")
        div(class="container")
            div(class="section-6__wrap")
                //- Image
                div(class="section-6__image")
                    div(class="section-6__image-main")
                        img(
                            src="assets/images/section-6-image-main.jpg"
                        )
                    div(class="section-6__image-thumb")
                        img(src="assets/images/section-6-image-thumb-01.png")
                        img(src="assets/images/section-6-image-thumb-02.png")
                        img(src="assets/images/section-6-image-thumb-03.png")
                        img(src="assets/images/section-6-image-thumb-04.png")
                        img(src="assets/images/section-6-image-thumb-05.png")
                
                //- Content
                div(class="section-6__content")
                    //- BreadCrumb
                    div(class="breadcrumb")
                        nav(class="breadcrumb__wrap")
                            ul 
                                li 
                                    a(href="#") Trang chủ
                                li 
                                    a(href="#") Chó
                                li 
                                    a(href="#") Chó con
                                li 
                                    a(href="#") Shiba Inu Màu Nâu Đỏ
                    //- End BreadCrumb

                    //- Detail
                    h2(class="section-6__title") Shiba Inu Màu Nâu Đỏ
                    div(class="section-6__price") 12.000.000 VND
                    div(class="section-6__button")
                        a(href="#" class="button-dark") Liên hệ
                        a(href="#" class="button-outline")
                            i(class="fa-regular fa-comment-dots")
                            |   Chat với Monito
                    div(class="section-6__table")
                        table 
                            tbody 
                                tr
                                    td SKU 
                                    td #1000078
                                tr
                                    td Giống 
                                    td Cái
                                tr
                                    td Tuổi 
                                    td 02 tháng
                                tr
                                    td Kích thước 
                                    td Nhỏ
                                tr
                                    td Màu sắc 
                                    td Nâu đỏ
                                tr
                                    td Mô tả ngắn 
                                    td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
                    div(class="box-share")
                        div(class="box-share__label")
                            img(src="assets/images/box-share-image.png")
                            |   Chia sẻ:
                        div(class="box-share__list")
                            a(href="#" target="_blank") 
                                i( class="fa-brands fa-facebook")
                            a(href="#" target="_blank")
                                i( class="fa-brands fa-twitter")
                            a(href="#" target="_blank")
                                i( class="fa-brands fa-instagram")
                            a(href="#" target="_blank")
                                i( class="fa-brands fa-youtube")
                    //- End Detail    
    //- End Section 6

    //- Section 7 Khách hàng của tôi (LÀM SAU)
    //- End Section 7 Khách hàng của tôi (LÀM SAU)

    //- Section 2
    section(class="section-2")
        div(class="container")
            //- Box head
            div(class="box-head")
                div(class="box-head__left")
                    div(class="box-head__title")
                        p(class="box-head__title-sub")
                            |   Có gì mới?
                        h2(class="box-head__title-main")
                            |   Xem thêm chó con
            //- Products
            -
                var pets = [
                    {
                        image: 'assets/images/section-two-product-item-01.jpg',
                        title: 'MO231 - Pomeranian Trắng',
                        gender: 'Đực',
                        age: '02 tháng',
                        price: '6.900.000 VND'
                    },
                    {
                        image: 'assets/images/section-two-product-item-02.jpg',
                        title: 'MO502 - Poodle Tiny Vàng',
                        gender: 'Cái',
                        age: '02 tháng',
                        price: '3.900.000 VND'
                    },
                    {
                        image: 'assets/images/section-two-product-item-03.jpg',
                        title: 'MO102 - Poodle Tiny Sepia',
                        gender: 'Đực',
                        age: '02 tháng',
                        price: '4.000.000 VND'
                    },
                    {
                        image: 'assets/images/section-two-product-item-04.jpg',
                        title: 'MO512 - Alaskan Malamute',
                        gender: 'Đực',
                        age: '03 tháng',
                        price: '8.900.000 VND'
                    }
                ];
            div(class="section-2__wrap")
                each item, index in pets 
                    +product-item(item)
    //- End Section 2
