section(class="section-3")
    div(class="container")
        div(class="section-3__wrap")
            //- section 3 image
            div(class="section-3__image")
                img(src="assets/images/section-three-image-main.svg")

            //- section 3 content
            div(class="section-3__content") 
                h2(class="section-3__title")
                    div(class="section-3__title-main")
                        |   Thêm Một Bạn
                    div(class="section-3__title-sub")
                        |   Thêm Ngàn Niềm Vui!
                p(class="section-3__description").
                    Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                div(class="section-3__buttons")
                    a(href="#" class="button-outline")
                        |   Giới thiệu
                        i(class="fa-regular fa-circle-play")
                    a(href="#" class="button button-dark")
                        |   Khám Phá ngay