@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "variable";

* {
    box-sizing: border-box;
}

body {
    margin: 0; // mặc định thẻ body có lớp margin xung quanh nên cần phải xóa nó
    font-family: $font-general;
}

a {
    text-decoration: none; // thường thì người ta rất ít dùng gạch chân dưới mỗi chữ
}

// container
.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
// end container

// button
.button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 57px;
    width: auto;
    height: 44px;
    padding: 0px 28px;
    
    // căn chỉnh cho text nằm giữa
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // end căn chỉnh text nằm giữa
}

.button__dark {
    @extend .button;
    background-color: $color-main;
    color: #ffffff;
}

.button__outline {
    @extend .button;
    background-color: transparent; // nền nút ăn theo màu nền nên để transparent là chuẩn luôn
    color: $color-main;
    border: 1.5px solid $color-main;

    i {
        font-size: 18px;
        margin-left: 8px;
    }
}
// end button

// header
.header {
    padding: 28px 0px 28px 0px;
    position: relative;
    z-index: 999;

    &__wrap {
        display: flex;
        align-items: center;
        gap: 14px; // lấy khoảng cách ngắn nhất giữa các item
    }

    
    &__logo {
        width: auto; // bởi vì width đôi khi cần co giãn theo cái menu
        height: 40px; // height cần cố định để khi scroll màn hình tránh bị co giãn

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__menu {
        flex: 1;
        text-align: center;
        text-transform: capitalize;
        
        ul {
            // reset ul
            margin: 0px;
            padding: 0px;
            list-style: none;
            // end reset ul

            display: inline-flex; // nếu ở đây là inline-flex thì bên &__menu phải dùng thêm text align center để căn giữa
            gap: 48px;

            // display: flex; nếu ở đây là inline-flex thì không cần dùng justify content center
            // justify-content: center;
            a {
                color: $color-main;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    &__form {
        background-color: #F3F3F3;
        padding: 12px 20px 12px 16px;
        border-radius: 46px;
        width: 280px; // hạn chế fix cứng chiều rộng
        height: 44px;
        display: flex;
        gap: 12px;

        input {
            flex: 1; // để cho thẻ input này có thể chiếm toàn bộ chiều dài còn lại
            background-color: transparent; // nên để transparent (trong suốt) để khi màu nền form thay đổi thì thay đổi theo
            border: 0px;
            outline: 0px;
            height: 100%;
            order: 1; // chỉ sử dụng khi thẻ cha đang dùng display-flex, order càng thấp càng được ưu tiên
        }

        button {
            background-color: transparent;
            color: $color-text-light;
            font-size: 16.5px;
            padding: 0px;
            border: 0px;
            order: 0; // chỉ sử dụng khi thẻ cha đang dùng display-flex, order càng thấp càng được ưu tiên
        }
    }
    
}
// end header

// Section 1
.section-1 {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 0px 0px 40px 40px; // bo 2 góc dưới của section 1

    // tràn nền lên header
    margin: -100px 0px 0px 0px; // lấn lên 100px 
    padding: 100px 0px 0px 0px; // vì lấn lên 100px nên cần padding xuống 100px
    
    &__wrap {
        display: flex;
    }

    &__background-header {
        position: absolute;
        top: -36px;
        left: 48px;

        // Không giống bản figma lắm nhưng đẹp
    }

    &__content {
        width: 47%;
        padding-top: 80px;
        position: relative;
    }

    
    &__background-01 {
        position: absolute;
        left: -3px;
        top: 70px;
    }

    &__title {
        position: relative; // Nếu không thêm thì z-index không có sẽ bị background-01 đè lên

        color: $color-main;
        font-weight: 700;
        margin: 0px; // reset margin của thẻ H1
        margin-bottom: 24px; // khoảng cách với thẻ description
        text-transform: capitalize; // các chữ cái tự động viết hoa
        &--main {
            font-size: 60px;
            margin-bottom: 4px;
        }

        &--sub {
            font-size: 46px;
        }
    }

    &__description {
        width: 86%; // điều chỉnh độ dài của văn bản
        text-align: left;
        color: #242B33;
        font-weight: 500;
        font-size: 16px;
        margin: 0px; // reset margin của thẻ P
        margin-bottom: 34px; // khoảng cách với khối buttons
    }

    &__buttons {
        display: inline-flex;
        gap: 18px;
        text-transform: capitalize;

        .button {
            font-size: 16px;
            font-weight: 500;
            height: 48px;
        }
    }

    &__background-03 {
        position: absolute;
        bottom: 0px;
        left: -125px;
    }


    &__image {
        width: 53%;
        position: relative;

        &--background {
            display: block; // xóa khe hở mặc định của thẻ img
            position: absolute;
            bottom: 0px; 
            left: -98px;
        }

        &--main {
            display: block; // xóa khe hở mặc định của thẻ img
            padding-right: 74px;
            position: relative;
            width: 100%; // để 100% thì ảnh sẽ không bị tràn vào box cha
            height: auto;
        }
    }
    

}
// End Section 1

