@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #FDFDFD;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

.button, .button-outline, .button-dark {
  font-size: 16px;
  font-weight: 700;
  border-radius: 57px;
  width: auto;
  height: 44px;
  padding: 0px 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-dark {
  background-color: #003459;
  color: #ffffff;
}
.button-dark:hover {
  color: #003459;
  background-color: #ffffff;
  border: 1.5px solid #003459;
  transition: color 0.5s, background-color 1s, border 1s;
}

.button-outline {
  background-color: transparent;
  color: #003459;
  border: 1.5px solid #003459;
}
.button-outline i {
  font-size: 18px;
  margin-left: 8px;
}
.button-outline:hover {
  background-color: #003459;
  color: #ffffff;
  transition: color 0.5s, background-color 1s;
}

.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.box-head__title-sub {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 2px;
}
.box-head__title-main {
  color: #003459;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
}
.box-head .button-outline {
  font-weight: 500;
  font-size: 14px;
}
.box-head .button-outline i {
  font-size: 14px;
}
@media (max-width: 991.98px) {
  .box-head {
    margin-bottom: 24px;
  }
  .box-head__title-sub {
    font-size: 15px;
  }
  .box-head__title-main {
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  .box-head__right {
    display: none;
  }
}
@media (max-width: 576.98px) {
  .box-head {
    margin-bottom: 20px;
  }
  .box-head__title-sub {
    font-size: 14px;
  }
  .box-head__title-main {
    font-size: 20px;
  }
}

.header {
  padding: 28px 0px 28px 0px;
  position: relative;
  z-index: 999;
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__logo {
  width: auto;
  height: 40px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  flex: 1;
  text-align: center;
  text-transform: capitalize;
}
.header__menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
  gap: 48px;
}
.header__menu ul li a {
  color: #003459;
  font-size: 16px;
  font-weight: 700;
}
.header__form {
  background-color: #F3F3F3;
  padding: 12px 20px 12px 16px;
  border-radius: 46px;
  width: 280px;
  height: 44px;
  display: flex;
  gap: 12px;
}
.header__form input {
  flex: 1;
  background-color: transparent;
  border: 0px;
  outline: 0px;
  height: 100%;
  order: 1;
}
.header__form button {
  background-color: transparent;
  color: #667479;
  font-size: 16.5px;
  padding: 0px;
  border: 0px;
  order: 0;
}
.header__menu-mobile {
  display: none;
}
.header__search-mobile {
  display: none;
}
@media (max-width: 1199.98px) {
  .header .button, .header .button-dark, .header .button-outline {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__form {
    display: none;
  }
  .header__search-mobile {
    display: inline-block;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 20px 0px;
  }
  .header__wrap {
    justify-content: space-between;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: inline-block;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    font-size: 20px;
  }
}

.section-1 {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0px 0px 40px 40px;
  margin: -100px 0px 0px 0px;
  padding: 100px 0px 0px 0px;
  overflow: hidden;
}
.section-1__wrap {
  display: flex;
  flex-wrap: wrap;
}
.section-1__background-header {
  position: absolute;
  top: -36px;
  left: 48px;
}
.section-1__content {
  width: 47%;
  padding-top: 80px;
  position: relative;
}
.section-1__background-01 {
  position: absolute;
  left: -7px;
  top: 70px;
}
.section-1__title {
  position: relative;
  color: #003459;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 24px;
  text-transform: capitalize;
}
.section-1__title-main {
  font-size: 60px;
  margin-bottom: 4px;
}
.section-1__title-sub {
  font-size: 46px;
}
.section-1__description {
  width: 86%;
  text-align: left;
  color: #242B33;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 34px;
}
.section-1__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 18px;
  text-transform: capitalize;
}
.section-1__buttons .button, .section-1__buttons .button-dark, .section-1__buttons .button-outline {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
.section-1__background-03 {
  position: absolute;
  bottom: 0px;
  left: -125px;
}
.section-1__image {
  width: 53%;
  position: relative;
}
.section-1__image-background {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -98px;
}
.section-1__image-main {
  display: block;
  padding-right: 74px;
  position: relative;
  width: 100%;
  height: auto;
}
@media (max-width: 1199.98px) {
  .section-1__title {
    margin-bottom: 20px;
  }
  .section-1__title-main {
    font-size: 52px;
  }
  .section-1__title-sub {
    font-size: 32px;
  }
  .section-1__description {
    font-size: 14px;
    margin-bottom: 28px;
  }
  .section-1__background-header {
    left: -34px;
  }
  .section-1__background-01 {
    left: -18px;
  }
  .section-1__background-03 {
    left: -250px;
  }
  .section-1__image-background {
    height: 107%;
  }
}
@media (max-width: 991.98px) {
  .section-1 {
    padding: 35px 0px 0px 0px;
    border-radius: 0px 0px 30px 30px;
  }
  .section-1__content {
    width: 100%;
    order: 0;
  }
  .section-1__background-header {
    left: -3px;
  }
  .section-1__background-03 {
    display: none;
  }
  .section-1__description {
    width: 66%;
  }
  .section-1__image {
    width: 100%;
    margin-top: 25px;
    order: 1;
  }
  .section-1__image-background {
    height: 100%;
  }
  .section-1__image-main {
    padding-right: 0px;
  }
}
@media (max-width: 767.98px) {
  .section-1__description {
    width: 95%;
  }
}
@media (max-width: 576.98px) {
  .section-1 {
    border: 0px;
    border-radius: 0px 0px 20px 20px;
  }
  .section-1__title-main {
    font-size: 46px;
  }
  .section-1__title-sub {
    font-size: 28px;
  }
  .section-1__description {
    font-size: 12px;
  }
  .section-1__background-01 {
    display: none;
  }
}
@media (max-width: 417.98px) {
  .section-1__title {
    margin-bottom: 15px;
  }
  .section-1__title-main {
    font-size: 36px;
  }
  .section-1__description {
    margin-bottom: 20px;
  }
  .section-1__buttons {
    justify-content: center;
  }
}

.section-2 {
  padding: 60px 0px;
}
.section-2__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section-2__button-mobile {
  display: none;
}
.section-2 .product-item {
  width: calc((100% - 60px) / 4);
}
@media (max-width: 991.98px) {
  .section-2 .product-item {
    width: calc((100% - 40px) / 3);
  }
}
@media (max-width: 767.98px) {
  .section-2 {
    padding: 40px 0px;
  }
  .section-2 .product-item {
    width: calc((100% - 20px) / 2);
  }
  .section-2__wrap {
    gap: 12px;
  }
  .section-2__button-mobile {
    display: inline-block;
    margin-top: 16px;
    padding: 12px 28px;
    width: 100%;
    border: 1.5px solid #003459;
    border-radius: 56px;
    font-size: 16px;
    font-weight: 500;
  }
  .section-2__button-mobile i {
    font-size: 18px;
  }
}
@media (max-width: 480.98px) {
  .section-2 .product-item__info-item::after {
    display: none;
  }
}

.product-item {
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  background-color: #FDFDFD;
  padding: 8px 8px 20px 8px;
  border-radius: 12px;
}
.product-item:hover {
  transform: scale(1.05);
  transition: all 1s;
}
.product-item__image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}
.product-item__image img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}
.product-item__title {
  margin: 0px;
  margin-bottom: 4px;
  text-transform: capitalize;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product-item__title a {
  color: #00171F;
  font-size: 16px;
  font-weight: 700;
}
.product-item__info {
  color: #667479;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 26px;
  margin-bottom: 4px;
  position: relative;
}
.product-item__info-item::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #667479;
  position: absolute;
  left: 78px;
  bottom: 5px;
}
.product-item__info-item:last-child::after {
  display: none;
}
.product-item__price {
  color: #00171F;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .product-item__title {
    font-size: 14px;
  }
}

.section-3__wrap {
  background-image: url(../images/section-three-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
}
.section-3__image {
  width: 39%;
  height: auto;
  margin: 36px 0px 0px 20px;
}
.section-3__image img {
  display: block;
  width: 100%;
}
.section-3__content {
  text-align: right;
  width: calc(40% - 20px);
  margin: 56px 85px 0px 0px;
}
.section-3__title {
  color: #003459;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 8px;
}
.section-3__title-main {
  font-size: 52px;
  margin-bottom: 8px;
}
.section-3__title-sub {
  font-size: 36px;
}
.section-3__description {
  color: #242B33;
  font-size: 12px;
  font-weight: 500;
  padding-left: 54px;
  margin: 0px;
  margin-bottom: 24px;
}
.section-3__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  text-transform: capitalize;
}
.section-3__buttons .button-outline {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
.section-3__buttons .button-dark {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
@media (max-width: 1198.98px) {
  .section-3__content {
    margin: 16px 45px 0px 0px;
  }
  .section-3__title-main {
    font-size: 46px;
    margin-bottom: 4px;
  }
  .section-3__title-sub {
    font-size: 28px;
  }
  .section-3__description {
    padding-left: 2%;
    margin-bottom: 18px;
  }
  .section-3__buttons {
    gap: 13px;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    background-image: url(../images/section-3-bg-responsive.svg);
  }
  .section-3__content {
    width: 100%;
    order: 0;
    margin: 0px;
    padding: 32px 23px 20px 20px;
    text-align: center;
  }
  .section-3__description {
    padding: 0px;
  }
  .section-3__image {
    width: 100%;
    order: 1;
    margin: 0px;
  }
}
@media (max-width: 576.98px) {
  .section-3__content {
    padding-top: 23px;
  }
  .section-3__title-main {
    font-size: 36px;
  }
  .section-3__title-sub {
    font-size: 24px;
  }
  .section-3__buttons {
    justify-content: center;
  }
}

.section-4 {
  padding: 60px 0px;
}
.section-4__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section-4__button-mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .section-4 {
    padding: 40px 0px;
  }
  .section-4__wrap {
    gap: 12px;
  }
  .section-4__button-mobile {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
}

.article-item {
  width: calc((100% - 40px) / 3);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
}
.article-item:hover {
  transform: scale(1.05);
  transition: all 1s;
}
.article-item__image {
  aspect-ratio: 364/243;
  margin-bottom: 5px;
  border-radius: 12px;
  overflow: hidden;
}
.article-item__image img {
  display: block;
  width: 100%;
}
.article-item__content {
  padding: 8px;
}
.article-item__tag {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 28px;
  margin-bottom: 10px;
}
.article-item__tag--blue {
  background-color: #00A7E7;
  color: #FDFDFD;
}
.article-item__title {
  margin: 0px;
  margin-bottom: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.article-item__title a {
  color: #00171F;
  font-size: 16px;
  font-weight: 700;
}
.article-item__description {
  color: #242B33;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 991.98px) {
  .article-item {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 767.98px) {
  .article-item__title {
    font-size: 16px;
  }
  .article-item__description {
    font-size: 14px;
  }
}
@media (max-width: 576.98px) {
  .article-item {
    width: 100%;
  }
  .article-item:hover {
    transform: scale(1.02);
    transition: all 1s;
  }
}

.footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding: 80px 0px 50px;
}
.footer__top {
  background-color: #003459;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 32px;
  border-radius: 16px;
}
.footer__top-title {
  color: #FDFDFD;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  width: 34%;
  margin: 0px;
}
.footer__top-form {
  width: 66%;
  background-color: #FFFFFF;
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 14px;
}
.footer__top-form input {
  flex: 1;
  background-color: transparent;
  border: 1px solid #99A2A5;
  border-radius: 8px;
  padding: 14px 28px;
  outline: 0;
}
.footer__top-form input::placeholder {
  color: #99A2A5;
}
.footer__top-form .button-dark {
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  border-bottom: 1px solid #CCD1D2;
}
.footer__middle-links {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 60px;
}
.footer__middle-links a {
  color: #00171F;
  font-size: 16px;
  font-weight: 500;
}
.footer__middle-socials {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer__middle-socials a {
  color: #00171F;
  font-size: 24px;
}
.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.footer__bottom-copyright {
  width: 40%;
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}
.footer__bottom-logo {
  width: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer__bottom-provision {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.footer__bottom-provision a {
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1199.98px) {
  .footer {
    padding: 70px 0px;
  }
  .footer__top-title {
    font-size: 18px;
    width: 45%;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding: 55px 0px;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__top-title {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .footer__top-form {
    width: 100%;
  }
  .footer__middle {
    flex-direction: column;
    gap: 20px;
  }
  .footer__bottom-copyright {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .footer__bottom-logo {
    width: 100%;
    order: 0;
    margin-bottom: 32px;
  }
  .footer__bottom-provision {
    width: 100%;
    justify-content: center;
    order: 1;
    margin-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0px;
  }
  .footer__top {
    padding: 16px;
  }
  .footer__top-form {
    flex-wrap: wrap;
  }
  .footer__top-form input {
    width: 100%;
  }
  .footer__top-form .button-dark {
    width: 100%;
  }
  .footer__middle-links {
    flex-wrap: wrap;
  }
  .footer__middle-links a {
    font-size: 13px;
  }
  .footer__middle-socials {
    flex-wrap: wrap;
  }
  .footer__middle-socials a {
    font-size: 20px;
  }
  .footer__bottom {
    padding: 36px 0px;
  }
  .footer__bottom-provision a {
    font-size: 12px;
  }
  .footer__bottom-copyright {
    font-size: 10px;
  }
}

.breadcrumb {
  padding: 10px;
}
.breadcrumb__wrap ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 36px;
}
.breadcrumb__wrap ul li {
  position: relative;
}
.breadcrumb__wrap ul li::after {
  content: "\f105";
  line-height: 1;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: #667479;
  font-size: 12px;
  position: absolute;
  right: -21px;
  bottom: 3px;
}
.breadcrumb__wrap ul li:last-child::after {
  display: none;
}
.breadcrumb__wrap ul li a {
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}

.section-5 {
  padding: 60px 0px;
}
.section-5__wrap {
  display: flex;
  gap: 30px;
}
.section-5__left {
  width: calc(25% - 10px);
}
.section-5__right {
  width: calc(75% - 10px);
}
.section-5__right .box-head__right {
  display: none;
}
.section-5__products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.section-5__products .product-item {
  width: calc((100% - 40px) / 3);
}
@media (max-width: 991.98px) {
  .section-5 {
    padding: 45px 0px;
  }
  .section-5__products .product-item {
    width: calc((100% - 20px) / 2);
    padding-bottom: 12px;
  }
  .section-5__products .product-item__title a {
    font-size: 15px;
  }
  .section-5__products .product-item__info {
    margin-bottom: 8px;
  }
  .section-5__products .product-item__info-item::after {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-5__left {
    display: none;
  }
  .section-5__right {
    width: 100%;
  }
  .section-5__right .box-head {
    align-items: center;
    margin-bottom: 14px;
  }
  .section-5__right .box-head__right {
    display: block;
  }
  .section-5__right .box-head .box-filter__title {
    margin: 0px;
  }
  .section-5__right .box-head .box-filter__title h2 {
    font-size: 16px;
  }
  .section-5__products {
    gap: 12px;
  }
  .section-5__products .product-item {
    width: calc((100% - 12px) / 2);
  }
}

.box-filter__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.box-filter__title img {
  height: 20px;
}
.box-filter__title h2 {
  color: #003459;
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}
.box-filter__option {
  padding-bottom: 16px;
  border-bottom: 1px solid #EBEEEF;
  margin-bottom: 16px;
}
.box-filter__option-label {
  color: #00171F;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.box-filter__option-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box-filter__option-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-filter__option-item input {
  margin: 0px;
  width: 16px;
  height: 16px;
}
.box-filter__option-item input[type=checkbox] {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}
.box-filter__option-item input[type=checkbox]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
.box-filter__option-item input[type=checkbox]::before {
  content: "✔";
  position: absolute;
  font-size: 19px;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}
.box-filter__option-item input[type=checkbox]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}
.box-filter__option-item label {
  color: #00171F;
  font-size: 14px;
  font-weight: 500;
}

.pagination ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 34px;
  height: 34px;
  color: #003459;
  font-size: 18px;
  font-weight: 700;
}
.pagination__item--active, .pagination__item:hover {
  background-color: #003459;
  color: #FFFFFF;
}

.section-6 {
  padding: 20px 0px;
}
.section-6__wrap {
  display: flex;
  gap: 34px;
}
.section-6__image {
  display: flex;
  flex-direction: column;
  width: calc(50% - 17px);
}
.section-6__image-main {
  width: 100%;
}
.section-6__image-main img {
  width: 100%;
}
.section-6__image-thumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.section-6__image-thumb img {
  width: calc((100% - 48px) / 5);
}
.section-6__content {
  width: calc(50% - 17px);
}
.section-6__content .breadcrumb {
  padding: 0px;
  margin-bottom: 18px;
}
.section-6__title {
  color: #00171F;
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 6px;
}
.section-6__price {
  color: #003459;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}
.section-6__button {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.section-6__button .button-outline {
  display: flex;
  align-items: center;
  gap: 18px;
}
.section-6__table {
  margin-top: 18px;
  margin-bottom: 20px;
}
.section-6__table td {
  color: #667479;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #EBEEEF;
  padding: 10px;
}
.section-6__table td:first-child {
  width: 35%;
}
.section-6__table td:last-child {
  width: 65%;
}

.box-share {
  display: flex;
  gap: 21px;
}
.box-share__label {
  color: #003459;
  font-size: 14px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.box-share__label img {
  width: 15px;
  height: 15px;
}
.box-share__list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.box-share__list a {
  color: #99A2A5;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
