@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #FDFDFD;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.button, .button-outline, .button-dark {
  font-size: 16px;
  font-weight: 700;
  border-radius: 57px;
  width: auto;
  height: 44px;
  padding: 0px 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-dark {
  background-color: #003459;
  color: #ffffff;
}

.button-outline {
  background-color: transparent;
  color: #003459;
  border: 1.5px solid #003459;
}
.button-outline i {
  font-size: 18px;
  margin-left: 8px;
}

.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.box-head__title-sub {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 2px;
}
.box-head__title-main {
  color: #003459;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
}
.box-head .button-outline {
  font-weight: 500;
  font-size: 14px;
}
.box-head .button-outline i {
  font-size: 14px;
}

.header {
  padding: 28px 0px 28px 0px;
  position: relative;
  z-index: 999;
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__logo {
  width: auto;
  height: 40px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  flex: 1;
  text-align: center;
  text-transform: capitalize;
}
.header__menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
  gap: 48px;
}
.header__menu ul a {
  color: #003459;
  font-size: 16px;
  font-weight: 700;
}
.header__form {
  background-color: #F3F3F3;
  padding: 12px 20px 12px 16px;
  border-radius: 46px;
  width: 280px;
  height: 44px;
  display: flex;
  gap: 12px;
}
.header__form input {
  flex: 1;
  background-color: transparent;
  border: 0px;
  outline: 0px;
  height: 100%;
  order: 1;
}
.header__form button {
  background-color: transparent;
  color: #667479;
  font-size: 16.5px;
  padding: 0px;
  border: 0px;
  order: 0;
}

.section-1 {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0px 0px 40px 40px;
  margin: -100px 0px 0px 0px;
  padding: 100px 0px 0px 0px;
}
.section-1__wrap {
  display: flex;
}
.section-1__background-header {
  position: absolute;
  top: -36px;
  left: 48px;
}
.section-1__content {
  width: 47%;
  padding-top: 80px;
  position: relative;
}
.section-1__background-01 {
  position: absolute;
  left: -3px;
  top: 70px;
}
.section-1__title {
  position: relative;
  color: #003459;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 24px;
  text-transform: capitalize;
}
.section-1__title-main {
  font-size: 60px;
  margin-bottom: 4px;
}
.section-1__title-sub {
  font-size: 46px;
}
.section-1__description {
  width: 86%;
  text-align: left;
  color: #242B33;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 34px;
}
.section-1__buttons {
  display: inline-flex;
  gap: 18px;
  text-transform: capitalize;
}
.section-1__buttons .button, .section-1__buttons .button-dark, .section-1__buttons .button-outline {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
.section-1__background-03 {
  position: absolute;
  bottom: 0px;
  left: -125px;
}
.section-1__image {
  width: 53%;
  position: relative;
}
.section-1__image-background {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -98px;
}
.section-1__image-main {
  display: block;
  padding-right: 74px;
  position: relative;
  width: 100%;
  height: auto;
}

.section-2 {
  padding: 60px 0px;
}
.section-2__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  width: calc((100% - 60px) / 4);
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  background-color: #FDFDFD;
  padding: 8px 8px 20px 8px;
  border-radius: 12px;
}
.product-item__image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}
.product-item__image img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}
.product-item__title {
  margin: 0px;
  margin-bottom: 4px;
  text-transform: capitalize;
}
.product-item__title a {
  color: #00171F;
  font-size: 16px;
  font-weight: 700;
}
.product-item__info {
  color: #667479;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  gap: 26px;
  margin-bottom: 4px;
  position: relative;
}
.product-item__info-item::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #667479;
  position: absolute;
  left: 78px;
  bottom: 5px;
}
.product-item__info-item:last-child::after {
  display: none;
}
.product-item__price {
  color: #00171F;
  font-size: 14px;
  font-weight: 700;
}

.section-3__wrap {
  background-image: url(../images/section-three-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.section-3__image {
  width: 39%;
  height: auto;
  margin: 36px 0px 0px 20px;
}
.section-3__image img {
  display: block;
  width: 100%;
}
.section-3__content {
  text-align: right;
  width: calc(40% - 20px);
  margin: 56px 85px 0px 0px;
}
.section-3__title {
  color: #003459;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 8px;
}
.section-3__title-main {
  font-size: 52px;
  margin-bottom: 8px;
}
.section-3__title-sub {
  font-size: 36px;
}
.section-3__description {
  color: #242B33;
  font-size: 12px;
  font-weight: 500;
  padding-left: 54px;
  margin: 0px;
  margin-bottom: 24px;
}
.section-3__buttons {
  display: inline-flex;
  gap: 20px;
  text-transform: capitalize;
}
.section-3__buttons .button-outline {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
.section-3__buttons .button-dark {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}

.section-4 {
  padding: 60px 0px;
}
.section-4__wrap {
  display: flex;
  gap: 20px;
}

.article-item {
  width: calc((100% - 40px) / 3);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
}
.article-item__image {
  aspect-ratio: 364/243;
  margin-bottom: 5px;
  border-radius: 12px;
  overflow: hidden;
}
.article-item__image img {
  display: block;
  width: 100%;
}
.article-item__content {
  padding: 8px;
}
.article-item__tag {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 28px;
  margin-bottom: 10px;
}
.article-item__tag--blue {
  background-color: #00A7E7;
  color: #FDFDFD;
}
.article-item__title {
  margin: 0px;
  margin-bottom: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.article-item__title a {
  color: #00171F;
  font-size: 16px;
  font-weight: 700;
}
.article-item__description {
  color: #242B33;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding: 80px 0px 50px;
}
.footer__top {
  background-color: #003459;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 32px;
  border-radius: 16px;
}
.footer__top-title {
  color: #FDFDFD;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  width: 34%;
  margin: 0px;
}
.footer__top-form {
  width: 66%;
  background-color: #FFFFFF;
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 14px;
}
.footer__top-form input {
  flex: 1;
  background-color: transparent;
  border: 1px solid #99A2A5;
  border-radius: 8px;
  padding: 14px 28px;
}
.footer__top-form .button-dark {
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}
.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  border-bottom: 1px solid #CCD1D2;
}
.footer__middle-links {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 60px;
}
.footer__middle-links a {
  color: #00171F;
  font-size: 16px;
  font-weight: 500;
}
.footer__middle-socials {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer__middle-socials a {
  color: #00171F;
  font-size: 24px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.footer__bottom-copyright {
  width: 40%;
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}
.footer__bottom-logo {
  width: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer__bottom-provision {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.footer__bottom-provision a {
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
